.App {
  color: white;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.App-header {
  background-color: #102433;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  z-index: 2;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

.App-logo {
  height: 60px;
  margin-right: 20px;
}

.App-main {
  background-color: #0f334e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0 20px 20px 20px;
  z-index: 1;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

.App-footer {
  background-color: #102433;
  padding: 20px;
  color: #888888;
  position: sticky;
  bottom: 0;
  z-index: 0;
}

.footer-wrapper>p {
  width: 100%;
  color: #fff;
  margin: 0 0 8px 0;
}

.text-center {
  text-align: center;
}

.link {
  color: #aaaaaa;
  font-weight: bold;
  text-decoration: none;
}

.spinner {
  position: relative;
  width: 40px;
  height: 40px;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.spinner>* {
  animation: loading 0.6s infinite linear;
}

@keyframes loading {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.clock__face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px solid #fff;
}

.clock__arm {
  position: absolute;
  width: 2px;
  height: 10px;
  transform-origin: 1px 9px;
  top: 13px;
  left: 21px;
  background-color: #fff;
}